In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from lifetimes import BetaGeoFitter, GammaGammaFitter
from lifetimes.utils import (
    summary_data_from_transaction_data,
    calibration_and_holdout_data,
)
from lifetimes.plotting import plot_cumulative_transactions

In [3]:
plt.style.use("ggplot")
sns.set_palette("husl")

# =======================================================
# 步骤 0: 数据加载
# =======================================================
file_path = "/Users/sousekilyu/Downloads/online_retail_II.xlsx"

print(">> 步骤 0: 正在加载数据...")
# 读取两个 Sheet 并合并
df_0910 = pd.read_excel(file_path, sheet_name="Year 2009-2010")
df_1011 = pd.read_excel(file_path, sheet_name="Year 2010-2011")
df_raw = pd.concat([df_0910, df_1011])
df_raw.head

>> 步骤 0: 正在加载数据...

<bound method NDFrame.head of        Invoice StockCode                          Description  Quantity  \
0       489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1       489434    79323P                   PINK CHERRY LIGHTS        12
2       489434    79323W                  WHITE CHERRY LIGHTS        12
3       489434     22041         RECORD FRAME 7" SINGLE SIZE         48
4       489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24
...        ...       ...                                  ...       ...
541905  581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906  581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907  581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908  581587     22138        BAKING SET 9 PIECE RETROSPOT          3
541909  581587      POST                              POSTAGE         1

               InvoiceDate  Price  Customer ID         Country
0      2009-12-01 07:45:00   6.95      13085.0  United Kingdom
1      2009-12-01 07:45:00   6.75      13085.0  United Kingdom
2      2009-12-01 07:45:00   6.75      13085.0  United Kingdom
3      2009-12-01 07:45:00   2.10      13085.0  United Kingdom
4      2009-12-01 07:45:00   1.25      13085.0  United Kingdom
...                    ...    ...          ...             ...
541905 2011-12-09 12:50:00   2.10      12680.0          France
541906 2011-12-09 12:50:00   4.15      12680.0          France
541907 2011-12-09 12:50:00   4.15      12680.0          France
541908 2011-12-09 12:50:00   4.95      12680.0          France
541909 2011-12-09 12:50:00  18.00      12680.0          France

[1067371 rows x 8 columns]>